<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:rim="http://www.blackberry.com/ns/widgets"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-weibo"
        version="1.0.0">

    <name>Weibo</name>
    <description>Cordova Weibo Plugin</description>
    <license>MIT</license>
    <keywords>cordova,weibo</keywords>
    <repo>https://github.com/bqluan/cordova-plugin-weibo.git</repo>
    <issue>https://github.com/bqluan/cordova-plugin-weibo/issues</issue>

    <preference name="APP_KEY" />

    <js-module src="www/weibo.js" name="weibo">
        <clobbers target="weibo" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="weibo" >
                <param name="android-package" value="com.github.bqluan.weibo.Weibo"/>
            </feature>
            <preference name="APP_KEY" value="$APP_KEY"/>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
        </config-file>

        <source-file src="src/android/Weibo.java" target-dir="src/com/github/bqluan/weibo" />

        <framework src="android-build.gradle" custom="true" type="gradleReference" />
    </platform>

</plugin>
